@use "../variables" as *;

// --- Inicio: NavBar --- //

.bg-light {
  background-color: #ffffff; // Color de fondo para el tema claro
  transition: background-color 0.3s ease;
}

.bg-dark {
  background-color: #111827; // Color de fondo para el tema oscuro
  transition: background-color 0.3s ease;
}

.nav-item {
  position: relative;
  font-weight: 500;
  opacity: 0.8;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    height: 2px;
    width: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 0, 51, 0.8),
      rgba(77, 0, 15, 0.8)
    );
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.nav__label {
  position: relative;
  width: fit-content;
}

// --- Fin: NavBar --- //

// --- Inicio: Footer --- //

.footer {
  background: linear-gradient(0deg, #000, #131313);
}

.footer__list,
.footer__link {
  a {
    transition: color 0.5s ease;

    &:hover {
      color: $color-accent;
    }
  }
}

.footer__title {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer__item {
  h4 {
    font-weight: 600;
    transition: color 0.3s ease;
  }

  a {
    &:hover h4 {
      color: $color-accent;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer__item {
    width: 88vw;
    max-width: 100%;
  }
}

.footer__paragraph {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: normal;
}

.footer__list {
  li {
    padding: 0 10px; // ajusta el padding según sea necesario
    position: relative;

    &:not(:last-child)::after {
      content: "|";
      position: absolute;
      right: -14px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media screen and (max-width: 640px) {
    li:not(:last-child)::after {
      content: "";
    }
  }
}

// --- Fin: Footer --- //
