// --- Inicio: Music Player --- //

.music-player__article {
  z-index: 100;
}

.music-player__container {
  width: 4.87rem;
  overflow: hidden;
  transition: width 0.3s ease-in-out;

  img {
    width: 3.4rem;
    height: 3.4rem;
  }

  .music-player__text {
    display: none;
    opacity: 0;
  }

  .music-player__controls {
    display: none;
    opacity: 0;
  }
}

.music-player__container.active {
  width: 22rem;

  .music-player__text {
    display: block;
    animation: musicPlayerItem 0.3s ease-in-out forwards 0.2s;
  }

  .music-player__controls {
    display: flex;
    animation: musicPlayerItem 0.3s ease-in-out forwards 0.2s;
  }
}

@keyframes musicPlayerItem {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.music-player__close-open {
  background-color: #1f2937;
  width: 30px;
  height: 30px;
  font-size: 28px;
  margin-block: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.music-player__article:hover .music-player__close-open {
  opacity: 1;
}

// --- Fin: Music Player --- //
