@use "../variables" as *;

.card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  max-width: 144px;
  font-size: 0.9em;
  color: $text-light;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 0.05em;
  background-color: #000;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;

  span {
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;
  }

  &.cuatro {
    display: flex;
    position: relative;
    gap: 10px;
  }

  &.cuatro .icono {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 0;
    transition: left 0.3s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
  }

  &.cuatro:hover {
    background: $color-accent;
  }

  &.cuatro:hover .icono {
    left: 110px;
    opacity: 1;
  }

  &.cuatro .texto {
    transition: transform 0.4s ease-in-out;
  }

  &.cuatro:hover .texto {
    transform: translateX(-20px);
  }
}

@media screen and (max-width: 640px) {
  .card__btn {
    max-width: 100%;
    font-size: 1em;
    padding-block: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

.projects__item__card {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.projects__item:hover .projects__item__card {
  opacity: 1;
}

.projects__item__btn {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.projects__item__card__container:hover .projects__item__btn {
  opacity: 1;
  transform: translateX(0);
}
