$dark-background: #151515;

$light-background: linear-gradient(to bottom right, #ffffff, #e0e5ec);

$light-text: #000000;
$dark-text: #ffffff;

$color-accent: #ffc107;
$text-light: #fff;
$text-gray: #e0e0e0;

$font-family-poppins: "Poppins", sans-serif;
$font-family-roboto: "Roboto", sans-serif;

$padding-container: 80px 0;
