@use "variables" as *;
@use "animations" as *;

@import "../styles/slick.css";
@import "../styles/slick-theme.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

// --- Inicio: Estilos Globales --- //

html {
  background: $light-background;
  color: $light-text;
  scroll-behavior: smooth;
  transition: background-color 0.3s ease;

  &.dark {
    background: $dark-background;
    color: $dark-text;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $font-family-poppins;
  //border: 1px solid red;
}

body {
  transition: color 0.3s ease;
}

li {
  list-style-type: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
}

span {
  font-family: $font-family-roboto;
  font-weight: 700;
}

/* Margen de secciones */

.scroll-top {
  scroll-margin-top: 80px; /* Ajusta a la altura de tu navbar */
}

// --- Fin: Estilos Globales --- //

// --- Inicio: Efectos de Sombras --- //

.navbar__shadow__light {
  box-shadow: 0px 8px 16px rgba(136, 146, 176, 0.8);
}

.navbar__shadow__dark {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.6);
}

.shadow__light {
  box-shadow: 8px 8px 16px rgba(136, 146, 176, 0.8),
    -8px -8px 16px rgba(255, 255, 255, 0.9); /* Resaltado para el efecto de luz */
}

.shadow__dark {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.6),
    -8px -8px 16px rgba(39, 46, 61, 0.6); /* Resaltado suave para evitar un contraste extremo */
}

.btn__shadow__light {
  box-shadow: 8px 8px 16px rgba(136, 146, 176, 0.8),
    -8px -8px 16px rgba(255, 255, 255, 0.9);
}

.btn__shadow__dark {
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.7),
    -8px -8px 16px rgba(39, 46, 61, 0.8);
}

.btn__shadow__light--red {
  box-shadow: 8px 8px 16px rgba(68, 1, 3, 0.8),
    -8px -8px 16px rgba(236, 62, 68, 0.8);
}

.btn__shadow__dark--red {
  box-shadow: 8px 8px 16px rgba(48, 3, 8, 0.9),
    -8px -8px 16px rgba(184, 37, 61, 0.8);
}

// --- Fin: Efectos de Sombras --- //

// --- Inicio: NavBar --- //

.bg-light {
  background-color: #ffffff; // Color de fondo para el tema claro
  transition: background-color 0.3s ease;
}

.bg-dark {
  background-color: #111827; // Color de fondo para el tema oscuro
  transition: background-color 0.3s ease;
}

.nav-item {
  position: relative;
  font-weight: 500;
  opacity: 0.8;
  transition: opacity 0.3s ease;

  &:hover {
    opacity: 1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5rem;
    height: 2px;
    width: 100%;
    background: linear-gradient(
      to right,
      rgba(255, 0, 51, 0.8),
      rgba(77, 0, 15, 0.8)
    );
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}

.nav__label {
  position: relative;
  width: fit-content;
}

// --- Fin: NavBar --- //

// --- Inicio: Seccion Hero --- //

.hero__img__container {
  img {
    transition: filter 0.3s ease-in-out;
  }
}

@media (max-width: 640px) {
  .hero__img__container {
    margin: auto;
  }
}

.btn {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 100%;
  max-width: 13rem;
  font-size: 0.95em;
  color: $text-gray;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
  letter-spacing: 0.05em;
  background-color: #000;
  transition: background-color 0.3s ease, color 0.3s ease;
  position: relative;
  overflow: hidden;

  span {
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;
  }

  &:hover {
    color: $text-light;
  }

  &--red {
    background-color: $color-accent;

    &:hover {
      // background-color: #000;
    }
  }

  &.uno::after {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    position: absolute;
    z-index: 1;
    bottom: -80px;
    left: 0;
    transition: 0.3s ease-in-out all;
  }

  &.uno:hover::after {
    bottom: 0;
  }

  &.dos::after {
    content: "";
    width: 100%;
    height: 100%;
    background: $color-accent;
    position: absolute;
    z-index: 1;
    bottom: -80px;
    left: 0;
    transition: 0.3s ease-in-out all;
  }

  &.dos:hover::after {
    bottom: 0;
  }
}

.btn__rounded {
  background-color: #000;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
  padding-block: 0.75rem;
  padding-inline: 1.5rem;
  width: fit-content;
  transition: background-color 0.3s ease;
  position: relative;
  overflow: hidden;

  span {
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;
  }

  &.tres::after {
    content: "";
    width: 4px;
    height: 4px;
    background: none;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 0.8s ease-in-out, background 0.5s ease-in-out;
    border-radius: 50%;
    transform-origin: center;
  }

  &.tres:hover::after {
    transform: scale(140);
    background: $color-accent;
  }
}

// --- Fin: Seccion Hero --- //

/* Efecto rellenado botón ir arriba */

.up-btn::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: $color-accent;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}

.up-btn:hover::after {
  background-color: #000;
}

// --- Inicio: Slider Carrusel --- //

.slick-slide {
  margin-bottom: 0;
  line-height: 0;
}

.slick-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* Esto elimina el espacio extra debajo de la imagen */
}

.slick-slide > div {
  height: 100% !important;
}

.slick-slider {
  height: 100% !important;
}

// Estilos para los puntos de navegación
.slick-dots {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 8px;
  z-index: 10;
}

.slick-dots li button:before {
  font-size: 14px; // Tamaño de los puntos
  color: #8b8b8bb0; // Color de los puntos
  opacity: 0.6;
  transition: opacity 0.2s ease-in-out;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: $color-accent;
}

.slick-dots li button:hover:before {
  opacity: 1;
}

// --- Fin: Slider Carrusel --- //

// --- Inicio: Proyectos --- //

.card__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;
  max-width: 144px;
  font-size: 0.9em;
  color: $text-light;
  font-weight: 500;
  white-space: nowrap;
  letter-spacing: 0.05em;
  background-color: #000;
  position: relative;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;

  span {
    position: relative;
    z-index: 2;
    transition: color 0.3s ease;
  }

  &.cuatro {
    display: flex;
    position: relative;
    gap: 10px;
  }

  &.cuatro .icono {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 1;
    left: 0;
    transition: left 0.3s ease-in-out, opacity 0.2s ease-in-out;
    opacity: 0;
  }

  &.cuatro:hover {
    background: $color-accent;
  }

  &.cuatro:hover .icono {
    left: 110px;
    opacity: 1;
  }

  &.cuatro .texto {
    transition: transform 0.4s ease-in-out;
  }

  &.cuatro:hover .texto {
    transform: translateX(-20px);
  }
}

@media screen and (max-width: 640px) {
  .card__btn {
    max-width: 100%;
    font-size: 1em;
    padding-block: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

.projects__item__card {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.projects__item:hover .projects__item__card {
  opacity: 1;
}

.projects__item__btn {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.projects__item__card__container:hover .projects__item__btn {
  opacity: 1;
  transform: translateX(0);
}

// --- Fin: Proyectos --- //

// --- Inicio: Seccion Habilidades --- //

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.75rem;
  padding-block: 1.5rem;
  white-space: nowrap;
}

// --- Fin: Seccion Habilidades --- //

// --- Inicio: Flip Cards --- //

.cards__front-back {
  position: relative;
  width: 21rem;
  height: 25rem;
}

@media screen and (max-width: 640px) {
  .cards__front-back {
    width: 91vw;
    height: 24rem;
  }
}

.cards__front-back > div {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding-inline: 1.5rem;
  backface-visibility: hidden;
}

// Card 1
.cards__front-back .front1 {
  transform: perspective(600px) rotateY(0deg);
  transition: transform 1.5s ease-in-out 0.4s;
}

.cards__front-back .back1 {
  transform: perspective(600px) rotateY(180deg);
  background-color: #ff6b6b;
  transition: transform 1.5s ease-in-out 0.4s;
}

.flip-in .cards__front-back .front1 {
  transform: perspective(600px) rotateY(180deg);
}

.flip-in .cards__front-back .back1 {
  transform: perspective(600px) rotateY(360deg);
}

// Card 2
.cards__front-back .front2 {
  transform: perspective(600px) rotateX(0deg);
  transition: transform 1.5s ease-in-out 0.8s;
}

.cards__front-back .back2 {
  transform: perspective(600px) rotateX(180deg);
  background-color: #2cffc0;
  transition: transform 1.5s ease-in-out 0.8s;
}

.flip-in .cards__front-back .front2 {
  transform: perspective(600px) rotateX(-180deg);
}

.flip-in .cards__front-back .back2 {
  transform: perspective(600px) rotateX(0deg);
}

// Card 3
.cards__front-back .front3 {
  transform: perspective(600px) rotateY(0deg);
  transition: transform 1.5s ease-in-out 1.2s;
}

.cards__front-back .back3 {
  transform: perspective(600px) rotateY(180deg);
  background-color: #fbec5d;
  transition: transform 1.5s ease-in-out 1.2s;
}

.flip-in .cards__front-back .front3 {
  transform: perspective(600px) rotateY(-180deg);
}

.flip-in .cards__front-back .back3 {
  transform: perspective(600px) rotateY(0deg);
}

// --- Fin: Flip Cards --- //

// --- Inicio: Contacto --- //

.contact__info {
  background-image: url("../assets/images/mapa-argentina.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 28rem;
  min-height: 24rem;
}

@media (min-width: 768px) {
  .contact__info {
    max-width: 100%;
  }
}

.contact__social-links {
  a {
    width: 24px;
  }
}

// --- Fin: Contacto --- //

// --- Inicio: Footer --- //

.footer {
  background: linear-gradient(0deg, #000, #131313);
}

.footer__list,
.footer__link {
  a {
    transition: color 0.5s ease;

    &:hover {
      color: $color-accent;
    }
  }
}

.footer__title {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer__item {
  h4 {
    font-weight: 600;
    transition: color 0.3s ease;
  }

  a {
    &:hover h4 {
      color: $color-accent;
    }
  }
}

@media screen and (max-width: 768px) {
  .footer__item {
    width: 88vw;
    max-width: 100%;
  }
}

.footer__paragraph {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  font-weight: normal;
}

.footer__list {
  li {
    padding: 0 10px; // ajusta el padding según sea necesario
    position: relative;

    &:not(:last-child)::after {
      content: "|";
      position: absolute;
      right: -14px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media screen and (max-width: 768px) {
    li:not(:last-child)::after {
      content: "";
    }
  }
}

// --- Fin: Footer --- //

// --- Inicio: Notificacion Toast --- //

.toast-container {
  position: fixed;
  bottom: 24px;
  left: 24px;
  z-index: 1000;
}

.toast {
  display: flex;
  align-items: center;
  color: #fff;
  padding: 16px;
  height: 62px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  min-width: 300px;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.toast-icon {
  font-size: 24px;
  margin-right: 8px;
}

.toast-message {
  flex-grow: 1;
}

.toast-close {
  background: #ffffff3a;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  padding: 3px;
  cursor: pointer;
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  transition: width 0.1s linear;
}

.toast__slide-in {
  animation: slideIn 0.5s ease forwards;
}

.toast__slide-out {
  animation: slideOut 0.5s ease forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

// --- Fin: Notificacion Toast --- //
